<div class="row gap-1">
    <div class="col p-2 text-center border border-3">
            Orden: {{ordenact.orden}}
    </div>
    <div class="col p-2 text-center border border-3">
            No. Parte: {{ordenact.noparte}}
    </div>
    <div class="col p-2 text-center border border-3">
        Prod: {{sum}}
    </div>
    <div class="col p-2 text-center border border-3">
            Total: {{ordenact.qty}}
    </div>
    <div class="col p-2 text-center border border-3">
            {{ordenact.fecha}}
    </div>
</div>