<div id="" style="overflow:auto; height:200px; border: 1px orange;">
    <table class="table table-striped table-hover">
            <thead>
                <tr>
                <th scope="col">Orden</th>
                <th scope="col">Número de Parte</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for prxorden in prxorden %}
                    <tr>
                    <td>{{prxorden.orden}}</td>
                    <td>{{prxorden.noparte}}</td>
                    <td>{{prxorden.qty}}</td>
                    <td>{{prxorden.fecha}}</td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>
</div>