{% extends 'layouts/layout.html'%}

{% block title %} {{title}} {% endblock %}

{% block content %}

    <h1 class="display-5">{{title}}</h1>
    <hr/>

    <div class="container px-4 border border-dark">
        <div class="row py-1">
            <div class="col-3 p-3 ">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
                Torno
            </div>
            <div class="col-1 p-3 align-middle text-center border border-dark">
            </div>
            <div class="col-7 p-3 ">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-3 py-3">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-6 py-3">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-4 py-3">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-6 py-3">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-1 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-7 py-3">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-6 py-3">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-4 py-3">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-10 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
                Hermle 931
            </div>
            <div class="col-6 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
            </div>
        </div>
        <div class="row py-1">
            <div class="col-2 py-3 align-middle text-center border border-dark">
                Bal. Man.
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
                Bal. Auto.
            </div>
            <div class="col-2 py-3 ">
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
                Ensamble
            </div>
            <div class="col-2 py-3 align-middle text-center border border-dark">
                MB
            </div>
            <div class="col-2 p-4 align-middle text-center border border-dark">
                VIPER
            </div>
        </div>
    </div>
    

{% endblock %}